@charset "utf-8";
/* CSS Document */

#switcher{
    width:300px;
    padding:.5em;
    border:1px solid #777;
}
.label{
    width:130px;
    margin:.5em 0;
    cursor:pointer;
}

#Container {
    font-family: Tahoma, Geneva, sans-serif;
}
